<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Hipotecas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="../static/assets/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <h1>Calculadora de Hipotecas</h1>
        <div class="columns">
            <div class="column inputs">
                <form id="mortgage-form">
                    <div class="input-group">
                        <label for="price">Precio de la vivienda
                            <span class="info-icon" tabindex="0">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    Precio de la vivienda que deseas comprar, sin contar con los gastos asociados a la
                                    compra (impuestos, notaría, registro, etc.). Sí debería incluir cualquier pago a
                                    inmobiliarias o intermediarios.
                                </span>
                            </span>
                        </label>
                        <div class="money-input">
                            <input type="text" id="price" name="price" required>
                            <span class="unit">€</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="savings">Ahorro aportado
                            <span class="info-icon" tabindex="0">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    Porción del precio de la vivienda que no se financia con la hipoteca, sino que viene
                                    de tus ahorros.
                                </span>
                            </span>

                        </label>
                        <div class="double-input">
                            <div class="money-input">
                                <input type="text" id="savings" name="savings" required>
                                <span class="unit">€</span>
                            </div>
                            <div class="percent-input">
                                <input type="text" id="savings_percent" name="savings_percent" required>
                                <span class="unit">%</span>
                            </div>
                        </div>
                    </div>

                    <div class=" input-group">
                        <label for="timeframe_years">Plazo en años
                            <span class="info-icon" tabindex="0">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    Número de años durante los cuales se pagará la hipoteca. Cuanto mayor sea el
                                    plazo,
                                    menor será la cuota mensual, pero mayor será el interés total pagado.
                                </span>
                            </span>
                        </label>
                        <input type="text" id="timeframe_years" name="timeframe_years" required>
                    </div>

                    <div class="input-group">
                        <label for="annual_rate_percent">Tipo de interés
                            <span class="info-icon" tabindex="0">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    Porcentaje de interés anual de la hipoteca. Asumimos que el interés es fijo
                                    durante
                                    todo el plazo, si bien existen hipotecas con interés variable, que pueden variar
                                    a
                                    lo largo del tiempo en función del Euribor u otros índices de referencia que
                                    apliquen.
                                </span>
                            </span>
                        </label>
                        <div class="percent-input">
                            <input type="text" id="annual_rate_percent" name="annual_rate_percent" required>
                            <span class="unit">%</span>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="location">Localización
                            <span class="info-icon" tabindex="0">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    Región donde se encuentra la vivienda. Es relevante para determinar el
                                    porcentaje de
                                    Impuesto de Transmisiones Patrimoniales que aplica.
                                </span>
                            </span>
                        </label>
                        <select id="location" name="location" required>
                            <option value="andalucia">Andalucía</option>
                            <option value="aragon">Aragn</option>
                            <option value="asturias">Asturias</option>
                            <option value="baleares">Baleares</option>
                            <option value="canarias">Canarias</option>
                            <option value="cantabria">Cantabria</option>
                            <option value="castilla_la_mancha">Castilla-La Mancha</option>
                            <option value="castilla_y_leon">Castilla y León</option>
                            <option value="cataluna">Cataluña</option>
                            <option value="ceuta">Ceuta</option>
                            <option value="extremadura">Extremadura</option>
                            <option value="galicia">Galicia</option>
                            <option value="madrid">Madrid</option>
                            <option value="melilla">Melilla</option>
                            <option value="murcia">Murcia</option>
                            <option value="navarra">Navarra</option>
                            <option value="pais_vasco">País Vasco</option>
                            <option value="rioja">La Rioja</option>
                            <option value="valencia">Comunidad Valenciana</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label>Estado de la vivienda
                            <span class="info-icon" tabindex="0">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip-text">
                                    En una vivienda de segunda mano se aplica el Impuesto de Transmisiones
                                    Patrimoniales (ITP), dependiente de la región, mientras que en una vivienda
                                    nueva se
                                    aplica el Impuesto sobre el Valor Añadido (IVA), del 10%.
                                </span>
                            </span>
                        </label>

                        <div class="radio-group">
                            <input type="radio" id="new_property" name="is_second_hand" value="false">
                            <label for="new_property">
                                <span class="radio-circle"></span>
                                Nueva
                            </label>

                            <input type="radio" id="second_hand_property" name="is_second_hand" value="true" checked>
                            <label for="second_hand_property">
                                <span class="radio-circle"></span>
                                Segunda mano
                            </label>
                        </div>
                    </div>

                    <button type="submit">Calcular</button>
                </form>
            </div>

            <div class="column results">
                <div class="tab-container">
                    <div class="tabs">
                        <button class="tab active" data-tab="payment">Pagos</button>
                        <button class="tab" data-tab="amortization">Amortización</button>
                        <button class="tab" data-tab="analysis">Análisis</button>
                    </div>
                    <div id="payment" class="tab-content active">
                        <div class="kpis-container">
                            <div class="monthly-payment-container">
                                <div class="monthly-payment-label">
                                    Cuota mensual
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Esta es la cantidad que pagarás cada mes por tu hipoteca, incluyendo capital
                                            e
                                            intereses.
                                        </span>
                                    </span>
                                </div>
                                <div class="monthly-payment-amount">
                                    <span class="amount" id="monthly-payment-amount">1.563</span>
                                    <span class="decimals" id="monthly-payment-decimals">,34</span>
                                    <span class="currency">€</span>
                                </div>
                            </div>
                            <div class="loan-percent-container">
                                <div class="loan-percent-label">
                                    Porcentaje financiado
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Porcentaje del valor de la vivienda que se financia con la hipoteca. Los
                                            bancos suelen rechazar financiar más del 80% del precio de compra, aunque
                                            podría subir si se aportan avales y garantías adicionales.
                                        </span>
                                    </span>
                                </div>
                                <div class="loan-percent-amount">
                                    <span class="amount" id="loan-percent-amount">80</span>
                                    <span class="unit">%</span>
                                </div>
                            </div>
                            <div class="interest-percent-container">
                                <div class="interest-percent-label">
                                    Porcentaje de intereses
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Porcentaje del préstamo que pagarás en intereses a lo largo de la vida de la
                                            hipoteca.
                                        </span>
                                    </span>
                                </div>
                                <div class="interest-percent-amount">
                                    <span class="amount" id="interest-percent-amount">33</span>
                                    <span class="unit">%</span>
                                </div>
                            </div>
                        </div>
                        <hr class="separator">
                        <div id="comparison-graph-container" class="comparison-graph-container">
                            <div class="comparison-left">
                                <table class="comparison-table">
                                    <tr>
                                        <td>
                                            <span class="color-square interest-color"></span>
                                            Intereses
                                            <span class="info-icon table-info-icon" tabindex="0">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltip-text">Total de intereses pagados durante la vida
                                                    de la hipoteca. Es el extra que le tienes que pagar de vuelta al
                                                    banco por haberte dado un préstamo.</span>
                                            </span>
                                        </td>
                                        <td id="interest-value">50.000 €</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="color-square mortgage-color"></span>
                                            Hipoteca
                                            <span class="info-icon table-info-icon" tabindex="0">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltip-text">Cantidad total financiada. Es la cantidad que
                                                    te presta el banco para pagar la vivienda.</span>
                                            </span>
                                        </td>
                                        <td id="mortgage-value">150.000 €</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="color-square savings-color"></span>
                                            Ahorros
                                            <span class="info-icon table-info-icon" tabindex="0">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltip-text">Cantidad aportada de tus ahorros para pagar
                                                    el coste de la vivienda, y que por tanto no te tiene que prestar el
                                                    banco.</span>
                                            </span>
                                        </td>
                                        <td id="savings-value">50.000 €</td>
                                    </tr>
                                </table>
                                <hr class="comparison-separator">
                                <div class="comparison-total">
                                    <span>
                                        Total de la hipoteca
                                        <span class="info-icon table-info-icon" tabindex="0">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltip-text">Cantidad total que tienes que pagar para la
                                                compra de la vivienda, incluyendo la aportación de tus ahorros al
                                                inicio, y la devolución a lo largo del tiempo de la cantidad prestada y
                                                los intereses.</span>
                                        </span>
                                    </span>
                                    <span id="left-total-value">250.000 €</span>
                                </div>
                            </div>
                            <div class="comparison-center">
                                <div class="vertical-graph left-graph">
                                    <div class="graph-bar savings-bar"></div>
                                    <div class="graph-bar mortgage-bar"></div>
                                    <div class="graph-bar interest-bar"></div>
                                </div>
                                <div class="vertical-graph right-graph">
                                    <div class="graph-bar price-bar"></div>
                                    <div class="graph-bar expenses-bar"></div>
                                </div>
                            </div>
                            <div class="comparison-right">
                                <table class="comparison-table">
                                    <tr>
                                        <td>
                                            <span class="color-square expenses-color"></span>
                                            Gastos
                                            <span class="info-icon table-info-icon" tabindex="0">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltip-text">Gastos asociados a la compra, incluyendo
                                                    impuestos, notaría, registro, y tasación.</span>
                                            </span>
                                        </td>
                                        <td id="expenses-value">20.000 €</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="color-square price-color"></span>
                                            Precio
                                            <span class="info-icon table-info-icon" tabindex="0">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltip-text">Precio base de la vivienda, lo que se
                                                    lleva el vendedor.</span>
                                            </span>
                                        </td>
                                        <td id="price-value">200.000 €</td>
                                    </tr>
                                </table>
                                <hr class="comparison-separator">
                                <div class="comparison-total">
                                    <span>
                                        Total de la vivienda
                                        <span class="info-icon table-info-icon" tabindex="0">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltip-text">Coste total de la vivienda incluyendo
                                                gastos.</span>
                                        </span>
                                    </span>
                                    <span id="right-total-value">220.000 €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="amortization" class="tab-content">

                        <div class="kpis-container secondary-kpis">
                            <div class="kpi-container">
                                <div class="kpi-label">
                                    Cantidad prestada
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Cantidad total que el banco te presta para la compra de la vivienda.
                                        </span>
                                    </span>
                                </div>
                                <div class="kpi-amount">
                                    <span class="amount" id="loan-amount">160.000</span>
                                    <span class="currency">€</span>
                                </div>
                            </div>
                            <div class="kpi-container">
                                <div class="kpi-label">
                                    Intereses totales
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Total de intereses que pagarás durante la vida del préstamo.
                                        </span>
                                    </span>
                                </div>
                                <div class="kpi-amount">
                                    <span class="amount" id="total-interest">50.000</span>
                                    <span class="currency">€</span>
                                </div>
                            </div>
                            <div class="kpi-container">
                                <div class="kpi-label">
                                    Cantidad a devolver
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Suma total de la cantidad prestada más los intereses a pagar.
                                        </span>
                                    </span>
                                </div>
                                <div class="kpi-amount">
                                    <span class="amount" id="total-loan-cost">210.000</span>
                                    <span class="currency">€</span>
                                </div>
                            </div>
                            <div class="kpi-container">
                                <div class="kpi-label">
                                    Fecha final
                                    <span class="info-icon table-info-icon" tabindex="0">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text">
                                            Fecha estimada en la que terminarás de pagar el préstamo.
                                        </span>
                                    </span>
                                </div>
                                <div class="kpi-amount">
                                    <span class="amount" id="final-payment-date">Sept 2054</span>
                                </div>
                            </div>
                        </div>
                        <hr class="separator">
                        <div id="amortization-chart-container">
                            <canvas id="amortization-chart"></canvas>
                        </div>
                        <div id="monthly-payment-chart-container">
                            <canvas id="monthly-payment-chart"></canvas>
                        </div>

                    </div>
                    <div id="analysis" class="tab-content">
                        <h2>Análisis Financiero</h2>
                        <p>En construcción.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/script.js"></script>
</body>

</html>